@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.img {
  width: 100%;
  display: block;
}
.text-slanted {
  font-family: "Kaushan Script", cursive;
}

/*
=============== 
NAVBAR
===============
*/
.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 100vw;
  background: transparent;
  /* border: 2px solid red; */
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: none;
  font-size: 1.35rem;
  font-weight: bold;
}
.nav-link {
  margin-right: 2rem;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}
.toggle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  width: 3.75rem;
  height: 2.25rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.5rem;
}
.nav-logo h1 {
  color: var(--clr-white);
  font-size: 2.5rem;
}
.toggle-cart {
  position: relative;
  background: transparent;
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.8rem;
}
.cart-item-count {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  background: var(--clr-primary-5);
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    position: relative;
  }
  .nav-logo {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  .toggle-nav {
    display: none;
  }
  .nav-links {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .nav-logo {
    left: 50%;
  }
}

/*
=============== 
HERO
===============
*/
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./image/hero.jpg) center/cover;
}
.hero-container {
  width: 90vw;
  max-width: var(--max-width);
  color: var(--clr-white);
}
.hero-container h1 {
  font-size: 3rem;
  font-weight: 700;
}
.hero-container h3 {
  font-size: 1.5rem;
}
.hero-btn {
  color: var(--clr-white);
  background: transparent;
  border: 1px solid var(--clr-white);
  padding: 0.5rem 0.75rem;
  display: inline-block;
  margin-top: 0.75rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  border-radius: var(--radius);
}
@media screen and (min-width: 800px) {
  .hero-container h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-container h1 {
    font-size: 5rem;
  }
  .hero-container h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .hero-btn {
    margin-top: 2rem;
  }
}
